In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
coordinates = {
    "Kodaikanal Hills":["10.2381", "77.4892"],
    "Palani":["10.2000", "77.5000"],
    "Anaimalai Hills":["10.3000", "77.0000"],
    "Nilgiri Hills":["11.3744","76.7620"],
    "Kolli Hills":["11.2485", "78.3387"],
    "Mudumalai":["11.5623", "76.5345"]
}

In [3]:
coordinates.keys()

dict_keys(['Kodaikanal Hills', 'Palani', 'Anaimalai Hills', 'Nilgiri Hills', 'Kolli Hills', 'Mudumalai'])

In [4]:
data_17 = pd.read_csv("../data/modis_2017_India.csv")
data_18 = pd.read_csv("../data/modis_2018_India.csv")
data_19 = pd.read_csv("../data/modis_2019_India.csv")
data_20 = pd.read_csv("../data/modis_2020_India.csv")
data_21 = pd.read_csv("../data/modis_2021_India.csv")
data_22 = pd.read_csv("../data/modis_2022_India.csv")

In [5]:
data_17.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,31.4814,75.7365,301.5,1.4,1.2,2017-01-01,529,Terra,MODIS,48,6.2,291.1,5.4,D,0
1,28.7628,79.5194,311.3,1.0,1.0,2017-01-01,530,Terra,MODIS,71,6.2,292.8,8.6,D,0
2,28.0761,79.8547,304.2,1.0,1.0,2017-01-01,530,Terra,MODIS,58,6.2,290.6,5.0,D,0
3,28.5888,78.7448,305.0,1.0,1.0,2017-01-01,530,Terra,MODIS,60,6.2,293.5,4.3,D,0
4,29.4661,77.1339,303.3,1.1,1.1,2017-01-01,530,Terra,MODIS,56,6.2,291.6,5.6,D,0

In [11]:
# Locate the coordinates of the hills in the coordinates dictionary and find a match in the dataframe
# Then, filter the dataframe to only include the rows that match the coordinates
# Finally, sum the columns to get the total number of fires in the region
def get_fires(data, coordinates):
    fires = {}
    for hill in coordinates:
        lat = coordinates[hill][1]
        lon = coordinates[hill][0]
        fires[hill] = data[(data['latitude'] == float(lat)) & (data['longitude'] == float(lon))].iloc[:, 3:].sum().sum()
    return fires

In [12]:
get_fires(data_17,coordinates)

{'Kodaikanal Hills': 0.0,
 'Palani': 0.0,
 'Anaimalai Hills': 0.0,
 'Nilgiri Hills': 0.0,
 'Kolli Hills': 0.0,
 'Mudumalai': 0.0}